@import '../../utils/_variables.scss';

.auth__wrapper {
	height: 100vh;
	@include flex($justify: space-evenly);
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;

	.title__container {
		display: flex;
		flex-direction: column;
		height: 80vh;

		.title__logo {
			height: 20vh;
			height: 150px;
			width: 150px;
			margin-top: 10vh;
		}

		.title__title {
			text-align: center;
			margin-top: 5vh;
			font-size: 70px;
			font-weight: normal;
			text-shadow: rgba(39, 172, 225, 255) 5px 0 20px;
		}
	}

	.auth__container {
		@include flex();
		@include box-shadow();
		border-radius: 20px;
		background-color: #2b2b2b;
		color: #8f9198;
		width: 30vw;
		padding: 30px;

		.auth__title {
			font-size: 35px;
			text-align: center;
			margin-bottom: 30px;
		}

		.auth__form {
			@include flex();
			width: 80%;

			input {
				width: 100%;
				margin-bottom: 20px;
				outline: none;
				transition: 0.3s;
				border: 3px solid transparent;
				letter-spacing: 1px;
				background-color: #fff;

				&:valid {
					border: 3px solid green;
				}
				&:invalid {
					border: 3px solid red;
				}

				&:focus {
					@include box-shadow();
				}
			}

			.auth__input {
				padding: 5px;
				border-radius: 5px;
			}

			.auth__avatars {
				@include flex($direction: row);

				width: 100%;
				margin-bottom: 20px;

				.auth__avatar__img {
					@include avatar-icon();
					transition: 0.3s;
					cursor: pointer;

					&:hover {
						@include avatar-icon();
						@include box-shadow($color: green);
					}
				}
			}

			.auth__avatar__img--active {
				@include avatar-icon();
				@include box-shadow($color: green);
			}

			.auth__button {
				@include btn;
			}
		}
	}
}
