@mixin avatar-icon($width: 45px, $height: 45px) {
	width: $width;
	height: $height;
	border-radius: 50%;
}

@mixin flex($direction: column, $align: center, $justify: space-between) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

@mixin box-shadow($one: 0px, $two: 2px, $three: 34px, $four: 2px, $color: rgba(39, 172, 225, 255)) {
	-webkit-box-shadow: $one $two $three $four $color;
	-moz-box-shadow: $one $two $three $four $color;
	box-shadow: $one $two $three $four $color;
}

@mixin item-sidebar {
	width: 100%;
	height: 80px;
	cursor: pointer;
	padding: 25px;
	transition: 0.3s;

	&:hover {
		background-color: #4eac6d;
	}
}
